body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 100;
}
nav {
    background-color: rgb(9, 4, 67);
    overflow: hidden;
}
nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav a:hover {
    background-color: #ddd;
    color: rgb(9, 4, 67);
}


#output {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    width: fit-content;
}
.hidden {
    display: none;
}

.nav2 {
    margin-left: auto;
}

.a {
    font-size: 100px; /* Cambia este valor al tamaño que desees */
}


