{% extends 'base.html' %}
{% block title %}Web OSS{% endblock %}  
<body>
-   {% block navinicio %}hidden{% endblock %}
    {% block navasistente %}{% endblock %}
    {% block navcumple %}{% endblock %}
    {% block navtpredictor %}{% endblock %}
    {% block navop %}{% endblock %}
    {% block navlogout %}{% endblock %}

    {% block headers %}Bienvenido a la Web PL_ING_OSS &#x1F4F1;{% endblock %}

    {% block message %} <!-- Mensaje -->
    <p>Seleccione una opción del menú.</p>
    <table id="tablainicio">
        <tr>                
            <td><a href="{% url 'asistenteai'%}" >Asistente Documental IA</a></td>
            <td><a >Asistente Documental que te permite revisar un documento de forma rápida y eficiente con Inteligencia Artificial.</a></td>
        </tr>
        <tr>                
            <td><a href="{% url 'cumple'%}">Gestor Cumpleaños</a></td>
            <td><a >Gestiona la información de cumpleaños de los Ingenieros del área Ing CX_OSS</a></td>
        </tr>
        <tr>                
            <td><a href="{% url 'tpredictor'%}">Predictor Throughput de Usuarios</a></td>
            <td><a >Predictor de Throughput de usuario Ing Cx_OSS</a></td>
        </tr>
    </table>
    {% endblock %}
    <footer>
        <p>&copy; 2024. Todos los derechos reservados.</p>
    </footer>

</body>
</html>