{% extends 'base.html' %}
{% block title %}TPut Predictor{% endblock %}  
<body>
-   {% block navinicio %}{% endblock %}
    {% block navasistente %}{% endblock %}
    {% block navcumple %}{% endblock %}
    {% block navtpredictor %}hidden{% endblock %}
    {% block navop %}{% endblock %}
    {% block navlogout %}{% endblock %}
    
        {% load static %}      
        {% block headers %}Bienvenido al predictor de Throughput de Usuarios Ing Cx_OSS &#x1F4E1; {% endblock %} 
        <div>
            <table border-collapse: 'collapse';>
                <tr>
                    <td border: 'none';><img src="{% static 'asistenteai/logotef.png' %}" alt="My image"></td>
                    <td border: 'none'; adding: '8px';><h1 style="color:#060E66"></h1></td>
                </tr> 
            </table> 
        </div> 

    {% block message %} <!-- Mensaje -->
    <form id='myform' method="POST" action="{% url 'tpredictor' %}">  
        {% csrf_token %} 
        <button type="submit" name="action" value="fit" >Emtrenar Modelo &#127939;</button>
        <h3>Datos de Radiobase</h3> <!--class="formulario"-->
        <h4 style="color: red; font-style: italic;">{{titulo1}}</h4>
        <h4 style="color: blue; font-style: italic;">{{n_estimators}}</h4>        
        <h4 style="color: blue; font-style: italic;">{{mse}}</h4>
        <h4 style="color: blue; font-style: italic;">{{r2}}</h4>
        <table>
            <td>
                <table class="form-table">
                    <td>
                        <tr>
                            <td><label for="HORA">HORA:</label></td>
                            <td><input type="number" id="HORA" name="HORA"></td>
                            <td><label>Tipo: Datatime - Medida: Hora - Hora captura de datos</label></td>
                        </tr>
                        <tr>
                            <td><label for="PER_DISPONIBILIDAD">PER_DISPONIBILIDAD:</label></td>
                            <td><input type="number" id="PER_DISPONIBILIDAD" name="PER_DISPONIBILIDAD"></td>
                            <td><label>Tipo: Float - Medida: % - Porcentaje de Disponibilidad (100% En servicio, 0% Indisponible Total)</label></td>
                        </tr>
                        <tr>
                            <td><label for="TRAFFIC_DATA_MB">TRAFFIC_DATA_MB:</label></td>
                            <td><input type="number" id="TRAFFIC_DATA_MB" name="TRAFFIC_DATA_MB"></td>
                            <td><label>Tipo: Float - Medida: Mbytes - Tráfico datos en Mbytes</label></td>
                        </tr>
                        <tr>
                            <td><label for="TRAFICO_VOZ_ERL">TRAFICO_VOZ_ERL:</label></td>
                            <td><input type="number" id="TRAFICO_VOZ_ERL" name="TRAFICO_VOZ_ERL"></td>
                            <td><label>Tipo: Float - Medida: Erlangs - Tráfico de Voz en Erlangs</label></td>
                        </tr>
                        <tr>
                            <td><label for="USERS">USERS:</label></td>
                            <td><input type="number" id="USERS" name="USERS"></td>
                            <td><label>Tipo: Int - Medida: # - Numero de Usuarios en el sector</label></td>
                        </tr>
                        <tr>
                            <td><label for="RECUSRSOS_DL">RECUSRSOS_DL:</label></td>
                            <td><input type="number" id="RECUSRSOS_DL" name="RECUSRSOS_DL"></td>
                            <td><label>Tipo: Int - Medida: # - Total recursos del sector</label></td>
                        </tr>
                        <tr>
                            <td><label for="PER_USO_RECURSOS_DL">PER_USO_RECURSOS_DL:</label></td>
                            <td><input type="number" id="PER_USO_RECURSOS_DL" name="PER_USO_RECURSOS_DL"></td>
                            <td><label>Tipo: Float - Medida: % - % de uso de recursos (%100 celda congestionada)</label></td>
                        </tr>
                        <tr>
                            <td><label for="INTENTOS_RRC">INTENTOS_RRC:</label></td>
                            <td><input type="number" id="INTENTOS_RRC" name="INTENTOS_RRC"></td>
                            <td><label>Tipo: Int - Medida: # - Numero de Intentos de llamadas que se origina en el sector</label></td>
                        </tr>
                        <tr>
                            <td><label for="PER_FAIL_RRC">PER_FAIL_RRC:</label></td>
                            <td><input type="number" id="PER_FAIL_RRC" name="PER_FAIL_RRC"></td>
                            <td><label>Tipo: Float - Medida: % - De los intentos cuantas fallan (0% sin fallas 100% Fallan todos los intentos)</label></td>
                        </tr>
                        <tr>
                            <td><label for="PER_DROP_DATOS">PER_DROP_DATOS:</label></td>
                            <td><input type="number" id="PER_DROP_DATOS" name="PER_DROP_DATOS"></td>
                            <td><label>Tipo: Float - Medida: % - % Drop en el servicio de DATOS (0% sin fallas 100% Fallan todos Las llamadas)</label></td>
                        </tr>
                        <tr>
                            <td><label for="PWR_INTERFER_UL">PWR_INTERFER_UL:</label></td>
                            <td><input type="number" id="PWR_INTERFER_UL" name="PWR_INTERFER_UL"></td>
                            <td><label>Tipo: Int - Medida: dBm - Interferencia en el canal (valor ideal sin interferencia -120 dBm….Valor altas interferencia -80dbm)</label></td>
                        </tr>
                        <tr>
                            <td><label for="CQI">CQI:</label></td>
                            <td><input type="number" id="CQI" name="CQI"></td>
                            <td><label>Tipo: Float - Medida: id - Indicador de calidad del canal de RF (0 Falla Total 15 valor real 31 Valor Ideal)</label></td>
                        </tr>
                        <tr>
                            <td><label for="PER_DL_PKTLOSS">PER_DL_PKTLOSS:</label></td>
                            <td><input type="number" id="PER_DL_PKTLOSS" name="PER_DL_PKTLOSS"></td>
                            <td><label>Tipo: Float - Medida: % - % packet loss (0% sin fallas 100% Fallan todos los mensajes enviados)</label></td>
                        </tr>
                        <tr>
                            <td><label for="CPU_LOAD">CPU_LOAD:</label></td>
                            <td><input type="number" id="CPU_LOAD" name="CPU_LOAD"></td>
                            <td><label>Tipo: Int - Medida: % - % Ocupación en la CPU del sitio</label></td>
                        </tr>
                        <tr>
                            <td><label for="PER_DROP_VOZ">PER_DROP_VOZ:</label></td>
                            <td><input type="number" id="PER_DROP_VOZ" name="PER_DROP_VOZ"></td>
                            <td><label>Tipo: Float - Medida: % - % Drop en el servicio de Voz (0% sin fallas 100% Fallan todos Las llamadas)</label></td>
                        </tr>
                        <tr>
                            <td><label for="SITIO_SECTOR">SITIO_SECTOR:</label></td>
                            <td><input type="number" id="SITIO_SECTOR" name="SITIO_SECTOR"></td>
                            <td><label>Tipo: Int - Medida: text - Codigo del sitiosector</label></td>
                        </tr>

                    </td>
                </table>
            </td>
        </table>
        {% if 'ok' in request.GET %}
            <p style="color: blue"><b>Se ejecutó la acción correctamente</p></b>
        {% endif %}
        <button type="submit" name="action" value="Predecir">Predecir &#x1F916;</button>
        <button type="submit" name="action" value="Modificar" hidden>Modificar &#128395;</button>
        <button type="submit" name="action" value="Insertar" hidden>Insertar &#10133;</button>
        <button type="submit" name="action" value="Eliminar" hidden>Eliminar &#128683;</button>

        <h4 style="color: blue; font-style: italic;">Valor Predictivo: {{valor1}}</h4>
    </form>

    {% endblock %}
</body>
</html>